<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
  
    <div th:fragment="copy">
      <nav>
		<ul class="nav nav-pills pull-right">
			<li role="presentation"><a th:href="@{/admin}">Usuarios</a></li>
			<li role="presentation"><a th:href="@{/admin/productos}">Productos</a></li>
			<li role="presentation" class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Chat<b class="caret"></b></a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
					<li><a tabindex="-1" th:href="@{/admin/mensajes}">Mensajes</a></li>
					<li><a tabindex="-1" th:href="@{/admin/mensaje}">Iniciar Chat</a></li>
				</ul>
			</li>
			<li role="presentation"><a th:href="@{/logout}">Logout</a></li>
		</ul>
	  </nav>
    </div>

 </body>
</html>
